body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	margin: 0px;
}
div.center-max-width {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
div.content {
	margin: 12px;
	margin-top: 20px;
	margin-bottom: 80px;
}
a, a span {
	color: #4183c4;
	text-decoration: none;
}
a:hover, a span:hover {
	text-decoration: underline;
}
h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.disabled {
	pointer-events: none;
	cursor: default;
	color: gray;
	text-decoration: none;
}
span.smaller {
	font-size: 11px;
	color: gray;
}
span.gray {
	color: gray;
}

div.list-entry {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 12px;
}
div.list-entry-header {
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #eee;
}
div.list-entry-body {
	padding: 10px;
}
.changes-list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 64px;
}
.presenter-error {
	white-space: pre-wrap;
	margin-bottom: 0px;
	padding-left: 64px;
}

.highlight-on-hover a {
	color: gray;
}
.highlight-on-hover {
	float: right;
	opacity: 0.25;
}
li:hover .highlight-on-hover {
	opacity: 1.0;
}

.commitID {
	background-color: rgb(238, 238, 238);
	padding: 1px 4px;
}
